.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__p2V22 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-C8nEKd26HpCwJ5);
}
.freeBox__y2PMm {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-kfUi3FwQ9Sjt_m);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__y2PMm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__y2PMm > :global(.__wab_flex-container) > *,
.freeBox__y2PMm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y2PMm > :global(.__wab_flex-container) > picture > img,
.freeBox__y2PMm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y2PMm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y2PMm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y2PMm > :global(.__wab_flex-container) > *,
  .freeBox__y2PMm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y2PMm > :global(.__wab_flex-container) > picture > img,
  .freeBox__y2PMm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__bi3F3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__bi3F3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bi3F3 > :global(.__wab_flex-container) > *,
.freeBox__bi3F3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bi3F3 > :global(.__wab_flex-container) > picture > img,
.freeBox__bi3F3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink___1F0Q:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pQhLo {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__hAqlL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__qh9X {
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__qh9X:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__ryf3C {
  position: relative;
  font-size: 14px;
  color: var(--token-6aa9p54_jbbCru);
}
.link__alGi {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__alGi:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__sSm26 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sSm26 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__sSm26 > :global(.__wab_flex-container) > *,
.freeBox__sSm26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSm26 > :global(.__wab_flex-container) > picture > img,
.freeBox__sSm26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sSm26 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sSm26 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sSm26 > :global(.__wab_flex-container) > *,
  .freeBox__sSm26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sSm26 > :global(.__wab_flex-container) > picture > img,
  .freeBox__sSm26
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__c1Hrt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__c1Hrt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c1Hrt > :global(.__wab_flex-container) > *,
.freeBox__c1Hrt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c1Hrt > :global(.__wab_flex-container) > picture > img,
.freeBox__c1Hrt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xqKk {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__kRrWw {
  font-size: 14px;
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
}
.root .link__kRrWw:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wvBo {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__wvBo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__r4YVs {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__r4YVs:hover {
  color: var(--token-NEon4Y--Z);
}
.link__viXop {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__viXop:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bmk1 {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__bmk1:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__bXqYb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__bXqYb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bXqYb > :global(.__wab_flex-container) > *,
.freeBox__bXqYb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bXqYb > :global(.__wab_flex-container) > picture > img,
.freeBox__bXqYb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2RR6X {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__llZb {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__llZb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cI1N {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__cI1N:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rrqYy {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__rrqYy:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nD7Ry {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__nD7Ry:hover {
  color: var(--token-NEon4Y--Z);
}
.link__qEdrp {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__qEdrp:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__eH2Qr {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__eH2Qr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eH2Qr > :global(.__wab_flex-container) > *,
.freeBox__eH2Qr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eH2Qr > :global(.__wab_flex-container) > picture > img,
.freeBox__eH2Qr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xrRDi {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__mpWsl {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__mpWsl:hover {
  color: var(--token-NEon4Y--Z);
}
.link__uQiNr {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__uQiNr:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nNgy2 {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__nNgy2:hover {
  color: var(--token-NEon4Y--Z);
}
.link___80GG {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link___80GG:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ri82G {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__ri82G:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__s4Tpx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__s4Tpx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__s4Tpx > :global(.__wab_flex-container) > *,
.freeBox__s4Tpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s4Tpx > :global(.__wab_flex-container) > picture > img,
.freeBox__s4Tpx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__geLv {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__skhYv {
  position: relative;
  font-size: 14px;
  color: var(--token-6aa9p54_jbbCru);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__aGfqJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__zdQya {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__vgQZg {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__t29PL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lJwig {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-C8nEKd26HpCwJ5);
}
.freeBox__dmFgk {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-kfUi3FwQ9Sjt_m);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__dmFgk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dmFgk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dmFgk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dmFgk > :global(.__wab_flex-container) > *,
  .freeBox__dmFgk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dmFgk > :global(.__wab_flex-container) > picture > img,
  .freeBox__dmFgk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__xpjPm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__fTDtg {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  height: auto;
  font-size: 14px;
}
.root .link__fTDtg:hover {
  text-decoration-line: underline;
}
.link__bUqtR {
  position: relative;
  color: var(--token-6aa9p54_jbbCru);
  font-size: 14px;
}
.root .link__bUqtR:hover {
  text-decoration-line: underline;
}
.text__wlAx1 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-6aa9p54_jbbCru);
}
.freeBox__usOb3 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__usOb3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__usOb3 > :global(.__wab_flex-container) > *,
.freeBox__usOb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__usOb3 > :global(.__wab_flex-container) > picture > img,
.freeBox__usOb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__asarb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jWb21 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__jWb21:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__yMgL:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2Vcg {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___2Vcg:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__dm0F:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sYtli {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__sYtli:hover {
  color: var(--token-dph1wZ7NjV9);
}
