.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___63NhE {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-kfUi3FwQ9Sjt_m);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox___63NhE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___63NhE > :global(.__wab_flex-container) > *,
.freeBox___63NhE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___63NhE > :global(.__wab_flex-container) > picture > img,
.freeBox___63NhE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___63NhE {
    width: 100%;
    height: auto;
    max-width: var(--token-kfUi3FwQ9Sjt_m);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___63NhE > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___63NhE > :global(.__wab_flex-container) > *,
  .freeBox___63NhE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___63NhE > :global(.__wab_flex-container) > picture > img,
  .freeBox___63NhE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dXdIo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__dXdIo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dXdIo > :global(.__wab_flex-container) > *,
.freeBox__dXdIo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dXdIo > :global(.__wab_flex-container) > picture > img,
.freeBox__dXdIo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dXdIo {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dXdIo > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dXdIo > :global(.__wab_flex-container) > *,
  .freeBox__dXdIo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dXdIo > :global(.__wab_flex-container) > picture > img,
  .freeBox__dXdIo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__rGfVi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__kp48 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kp48 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text___2QzE {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2QzE {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__pbAm {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pbAm {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__fp8BI {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fp8BI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__fp8BI > :global(.__wab_flex-container) > *,
.freeBox__fp8BI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fp8BI > :global(.__wab_flex-container) > picture > img,
.freeBox__fp8BI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___672Og:global(.__wab_instance) {
  position: relative;
}
.svg__cTqdo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kc6RI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__jjrlx:global(.__wab_instance) {
  position: relative;
}
.svg__j3PrW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lbQf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__tpVEh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img___0Zlxj {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___0Zlxj > picture > img {
  object-fit: cover;
}
.img___0Zlxj > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column___5Ox6W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5Ox6W {
    width: 100%;
  }
}
.freeBox__bEwKf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bEwKf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bEwKf > :global(.__wab_flex-container) > *,
.freeBox__bEwKf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bEwKf > :global(.__wab_flex-container) > picture > img,
.freeBox__bEwKf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bEwKf {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bEwKf > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__mkE8S {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__vNAgm {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__e03Eh:global(.__wab_instance) {
  position: relative;
}
.svg__ujvLs {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__bByKd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___2N79U:global(.__wab_instance) {
  position: relative;
}
.svg__net78 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__cF1HH {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yagCg:global(.__wab_instance) {
  position: relative;
}
.svg__omhg {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__mhGC {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__pjdFc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pjdFc {
    width: 100%;
  }
}
.img__llUrr {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__llUrr > picture > img {
  object-fit: cover;
}
.img__llUrr > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__mitUj {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__mitUj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mitUj > :global(.__wab_flex-container) > *,
.freeBox__mitUj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mitUj > :global(.__wab_flex-container) > picture > img,
.freeBox__mitUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__zKmsd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ivuMf {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-fRzoj_wIfR2Y-8);
}
.svg__g7L34 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kctIn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__omrVo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-fRzoj_wIfR2Y-8);
}
.svg___3Q81C {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8WoG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vzUs1 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-fRzoj_wIfR2Y-8);
}
.svg__wzPt9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yDhwa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xnqJ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-fRzoj_wIfR2Y-8);
}
.svg__qpMuh {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qNefG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wPevT {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-fRzoj_wIfR2Y-8);
}
.svg__spvNf {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___0T7CT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sZgHt {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-fRzoj_wIfR2Y-8);
}
.svg__r7RUp {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-C8nEKd26HpCwJ5);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox___0UVzh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0UVzh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___0UVzh > :global(.__wab_flex-container) > *,
.freeBox___0UVzh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0UVzh > :global(.__wab_flex-container) > picture > img,
.freeBox___0UVzh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__zC6Lm {
  flex-direction: row;
  display: flex;
}
.freeBox__zC6Lm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zC6Lm > :global(.__wab_flex-container) > *,
.freeBox__zC6Lm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zC6Lm > :global(.__wab_flex-container) > picture > img,
.freeBox__zC6Lm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__pZuBf {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___3Bn9U {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__lToFq {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___6WeMx {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__jDpTc {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
