.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__dai1 {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-kfUi3FwQ9Sjt_m);
  display: flex;
  min-width: 0;
}
.freeBox__dai1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__dai1 > :global(.__wab_flex-container) > *,
.freeBox__dai1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dai1 > :global(.__wab_flex-container) > picture > img,
.freeBox__dai1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__q2ZbJ {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__q2ZbJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__q2ZbJ > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__q2ZbJ > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__q2ZbJ > :global(.__wab_flex-container) > *,
.columns__q2ZbJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__q2ZbJ > :global(.__wab_flex-container) > picture > img,
.columns__q2ZbJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q2ZbJ {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q2ZbJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q2ZbJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__q2ZbJ > :global(.__wab_flex-container) > *,
  .columns__q2ZbJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__q2ZbJ > :global(.__wab_flex-container) > picture > img,
  .columns__q2ZbJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__iso3Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iso3Z {
    width: 100%;
  }
}
.freeBox__gRGd {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gRGd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gRGd > :global(.__wab_flex-container) > *,
.freeBox__gRGd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gRGd > :global(.__wab_flex-container) > picture > img,
.freeBox__gRGd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gRGd {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gRGd > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___0CmL {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__yiSxx {
  position: relative;
  text-align: left;
}
.bullet__r7X9U:global(.__wab_instance) {
  position: relative;
}
.bullet__teAic:global(.__wab_instance) {
  position: relative;
}
.bullet__gjDQr:global(.__wab_instance) {
  position: relative;
}
.text__b0Tj0 {
  position: relative;
  text-align: left;
}
.freeBox__faQB {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__faQB > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__faQB > :global(.__wab_flex-container) > *,
.freeBox__faQB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__faQB > :global(.__wab_flex-container) > picture > img,
.freeBox__faQB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__faQB {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__faQB > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__faQB > :global(.__wab_flex-container) > *,
  .freeBox__faQB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__faQB > :global(.__wab_flex-container) > picture > img,
  .freeBox__faQB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__oiRIz:global(.__wab_instance) {
  position: relative;
}
.svg__mSups {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ql3Jm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___0Yk2T:global(.__wab_instance) {
  position: relative;
}
.svg__lNyWv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__io1QN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__keGrj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__keGrj {
    width: 100%;
  }
}
.img__zs9T6 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__zs9T6 > picture > img {
  object-fit: cover;
}
.img__zs9T6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__nPxyj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__nPxyj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__nPxyj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__nPxyj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__nPxyj > :global(.__wab_flex-container) > *,
.columns__nPxyj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nPxyj > :global(.__wab_flex-container) > picture > img,
.columns__nPxyj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nPxyj {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nPxyj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nPxyj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nPxyj > :global(.__wab_flex-container) > *,
  .columns__nPxyj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nPxyj > :global(.__wab_flex-container) > picture > img,
  .columns__nPxyj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__n8G1U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__n8G1U {
    width: 100%;
  }
}
.img___3Ua0 {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img___3Ua0 > picture > img {
  object-fit: cover;
}
.img___3Ua0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__gCeT4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gCeT4 {
    width: 100%;
  }
}
.freeBox__kbJw1 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kbJw1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__kbJw1 > :global(.__wab_flex-container) > *,
.freeBox__kbJw1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kbJw1 > :global(.__wab_flex-container) > picture > img,
.freeBox__kbJw1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbJw1 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kbJw1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__g00Dm {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__uv5PA {
  position: relative;
  text-align: left;
}
.bullet__fWbg5:global(.__wab_instance) {
  position: relative;
}
.bullet___9UV3:global(.__wab_instance) {
  position: relative;
}
.bullet__bntC6:global(.__wab_instance) {
  position: relative;
}
.text__ibmoe {
  position: relative;
  text-align: left;
}
.freeBox__wIxVz {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__wIxVz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__wIxVz > :global(.__wab_flex-container) > *,
.freeBox__wIxVz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wIxVz > :global(.__wab_flex-container) > picture > img,
.freeBox__wIxVz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wIxVz {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wIxVz > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wIxVz > :global(.__wab_flex-container) > *,
  .freeBox__wIxVz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wIxVz > :global(.__wab_flex-container) > picture > img,
  .freeBox__wIxVz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__o1Go:global(.__wab_instance) {
  position: relative;
}
.svg__rmwAu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__p39Fm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__a3IPc:global(.__wab_instance) {
  position: relative;
}
.svg__dFe31 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__r2WJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
